@charset "utf-8";
/* CSS Document */

.max-size-210 {
	max-width: 210px;
	max-height: 221px;
}

.custom-jumbotron {
    padding-bottom: 0;  /* Reduces bottom padding */
    margin-bottom: 0;   /* Reduces bottom margin */
    padding-top: 0;  /* Reduces bottom padding */
    margin-top: 0;   /* Reduces bottom margin */
}

.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.placeholder {
    color: whitesmoke;
}

.red-checkbox:checked {
    background-color: red;
    border-color: red;
}

